body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  margin: 0;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  max-width: 330px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 20px;
  max-width: 100%;
}
.text-content {
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(216, 15%, 48%);
  max-width: 80%;
}
h2 {
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}
